<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment by Ali</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h2> List Of Saved User </h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Client ID</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
          <tr>
            <th scope="row">{{customer.client_id}}</th>
            <td>{{customer.full_name}}</td>
            <td>{{customer.mobile_number}}</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{customer.client_id}}">
                Show Details
              </button>
            </td>
            <div class="modal fade" id="{{customer.client_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p>Client ID: {{customer.client_id}}</p>
                        <p>Name: {{customer.full_name}}</p>
                        <p>Mobile Number: {{customer.mobile_number}}</p>
                        <p>Office Name: {{customer.office_name}}</p>
                        <p>Status: {{customer.status}}</p>
                    </div>
                  </div>
                </div>
              </div>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</body>

<script>
</script>

</html>